body {
    font-family: Arial, sans-serif;
    background-color: #001f3f; /* Sötétkék háttérszín */
    margin: 0;
    padding: 0;
    font-size: 16px; /* Alapértelmezett betűméret */
}

.container {
    width: 55%;
    margin: 3.125em auto; /* 50px / 16px = 3.125em */
    background-color: #ffffff; /* Fehér háttér */
    padding: 1.25em; /* 20px / 16px = 1.25em */
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1); /* 10px / 16px = 0.625em */
    border-radius: 0.5em; /* 8px / 16px = 0.5em */
}

h1 {
    text-align: center;
    margin-bottom: 1.25em; /* 20px / 16px = 1.25em */
    color: #ff4136; /* Élénk piros a címsornak */
}

label {
    display: block;
    margin: 0.625em 0 0.3125em; /* 10px / 16px = 0.625em és 5px / 16px = 0.3125em */
    color: #333; /* Sötétebb szürke a címkéknek */
}

input[type="text"],
input[type="datetime-local"],
textarea,
input[list],
input[type="file"] {
    width: 100%;
    padding: 0.5em; /* 8px / 16px = 0.5em */
    margin-bottom: 0.625em; /* 10px / 16px = 0.625em */
    border: 0.0625em solid #ccc; /* 1px / 16px = 0.0625em */
    border-radius: 0.25em; /* 4px / 16px = 0.25em */
    transition: border-color 0.3s ease; /* Animáció a fókusz állapothoz */
}

input[type="text"]:focus,
input[type="datetime-local"]:focus,
textarea:focus,
input[list]:focus,
input[type="file"]:focus {
    border-color: #007bff; /* Kék keret a fókuszban lévő mezőknél */
}

button {
    width: 100%;
    padding: 0.625em; /* 10px / 16px = 0.625em */
    background-color: #007bff; /* Kék háttérszín */
    color: white;
    border: none;
    border-radius: 0.25em; /* 4px / 16px = 0.25em */
    cursor: pointer;
    font-size: 1em; /* Alapértelmezett betűméret */
    transition: background-color 0.3s ease; /* Smooth hover effektus */
}

button:hover {
    background-color: #0056b3; /* Sötétebb kék a hover állapotban */
}
